.annons {
  position: sticky;
  top: 0;
  display: block;
  padding-bottom: 0.5rem;
  border: black 10px;
  color: rgb(70, 70, 70);
  font-size: 12px;
  font-weight: 600;
}

.left-ads,
.right-ads {
  display: none;
}

.left-ad-one,
.left-ad-two,
.right-ad-one,
.right-ad-two {
  position: sticky;
  top: 1.25rem;
  background-color: black;
}
.right-ad-two img{
  height: 700px;
  width: 300px;
  margin-left: 24px;
}

.transition-effect {
  transition: opacity 0.5s ease-in-out, top 0.8s ease-in-out;
  opacity: 0; /* Start with elements hidden, adjust as needed */
}

@media (min-width: 425px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .left-ads,
  .right-ads {
    display: block;
  }
}

@media (min-width: 1440px) {
}

@media (min-width: 1920px) {
}

@media (min-width: 2560px) {
}