@font-face {
  font-family: Chomsky;
  font-weight: normal;
  src: url("../../bin/fonts/Chomsky.otf") format("opentype");
}

*:not(head, script) {
  display: block;
  min-width: 0;
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logo {
  max-width: 100%; /* Ensures the image is responsive and fits within the header */
  height: auto; /* Maintains the aspect ratio of the image */
  display: block; /* Makes the image a block-level element */
  margin: auto auto; /* Centers the image horizontally */
  margin-top: -20px;
}

.logo h1 {
  font-family: Chomsky;
  font-size: 4rem;
  font-weight: normal;
}

header {
  margin-top: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the logo vertically */
  justify-content: center; /* Centers the logo horizontally */
  width: 90rem;
  height: 10rem;
  background-repeat: no-repeat;
}

header img {
  width: 30rem;
}

header::after,
header::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px; /* Adjust the height of the line as needed */
  background-color: black;
}

header::after {
  bottom: -2px; /* Position the first line right below the header */
}

header::before {
  bottom: -6px; /* Position the second line with some space below the first line */
}

logo {
  max-width: 100%; /* Ensures the image is responsive and fits within the header */
  height: auto; /* Maintains the aspect ratio of the image */
  display: block; /* Makes the image a block-level element */
  margin: 0 auto; /* Centers the image horizontally */
  transform: 50%;
}

.header-streck {
  position: absolute;
  overflow: hidden;
  margin-top: 3.5rem;
  height: 1px; /* Adjust the height of the line as needed */
  background-color: rgb(207, 207, 207);
  width: 90rem;
}

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  height: 3rem;
  margin-top: -60px; /* Pushes the navbar to the bottom */
  background-color: #ffffff; /* Dark background */
  overflow: hidden;
  gap: 2rem;
  width: 100%; /* Ensures navbar takes full width */
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */

}

.navbar ul {
  list-style-type: none; /* Removes default list styling */
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox to layout children horizontally */
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
}
.navbar ul li {
  display: flex; /* Flex display for horizontal alignment */
}

.navbar ul li a {
  display: block;
  color: white; /* Text color for the links */
  text-align: center;
  padding: 14px 16px; /* Padding around the links */
  text-decoration: none; /* Removes underline from links */
}

.navbar ul li a:hover {
  background-color: #ddd; /* Background color on hover */
  color: black; /* Text color on hover */
}

.hide-after::after {
  content: none; /* or 'display: none;' */
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto auto;
  gap: 10px;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1200px;
  height: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  margin-top: 54px;
  transform: 50%;
  border: none;
}

aside {
  padding: 15px;
  width: 220px;
  background: #ffffff;
  height: 100%;
}

main{
  margin-top: 3px;
  padding: 15px;
  height: 100%;
  border: solid rgb(211, 211, 211);
  border-width: thin;
  
}
.kimsDating{
  height: 200px;
  width: 200px;
}

.kimsText{
  width: 200px;
  height: 350px;
  border: solid rgb(206, 206, 206);
  border-width: thin;
}
/* TICKER-----------------------------------------------------------------------------------------------------------------------------------------TICKER */

.news-item {
  /* margin: 3rem auto; */
/*   margin-top:100px;
  margin-left: 30%; */
  width: 40rem;

}

.news{
  height: 200px;
  width: 50px;
}

.extra{
  width: 300px;
  height: 30px;
}

.hund{
  width: 300px;
  height: 300px;
}

.trump{
  width: 100px;
  height: 300px;
}

.trumpPic{
  width: 300px;
  height: 300px;
}

.trumpContainer{
  width: 300px;
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-49%, 0, 0); /* Slightly less than 50% */
  }
}

.ticker-wrap {
  position: absolute;
  display: inline;
  top: 106%; /* Adjust this value as needed to move the ticker up */
  overflow: hidden;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.9);
  box-sizing: content-box;
  width: 1900px;
}

.ticker {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  white-space: nowrap;
  box-sizing: content-box;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation: ticker 30s linear infinite;
}

.ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1rem;
  color: white;
}

/* TICKER-----------------------------------------------------------------------------------------------------------------------------------------TICKER */

.right-ad {
  position: absolute;
  background-color: black;
  margin-left: 85rem;
  margin-top: 17rem;
  width: 400px;
  height: 500px;
  z-index: 99;
  background-image: url(/src/images/slobodan-reklam.png);
  background-size: 100%;
}
/* 
.left-ad {
  position: absolute;
  background-color: black;
  margin-left: -85rem;
  margin-top: 17rem;
  width: 400px;
  height: 370px;

  z-index: 99;
  background-image: url(/src/images/image.png);
  background-size: 100%;
  background-position: center -20px; 
}

.left-ad-header {
  position: absolute;
  width: 400px;
  height: 370px;
  z-index: 100;
  margin-top: 135px;
  margin-left: 5px;
  background-image: url(/src/images/RUBENSTEIN.gif);
  background-size: 100%;
  background-repeat: no-repeat;

}
 */

.left-ad2 {
  position: absolute;
  background-color: black;
  margin-left: -85rem;
  margin-top: 17rem;
  width: 400px;
  height: 270px;

  z-index: 99;
  background-image: url(/src/images/eduardo/spray3.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#randomSaab {
  max-width: 200px;
  max-height: 200px;
  margin-top: 20px;
}

footer {
  color: white;
  text-align: center;
  padding: 1rem;
}

@media (min-width: 425px) {
  .container {
    max-width: 425px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

@media (min-width: 2560px) {
  .container {
    max-width: 2560px;
  }
}
